*{
    margin: 0;
    padding: 0;
}

body{
    box-sizing: border-box;
    font-family: 'Montserrat';
    width: 80%;
    margin: auto;
}

header {
    margin: 20px 0px;
}

header h1{
    font-size: 36px;
}

main {
    display: grid;
    grid-template-columns: 2fr 1fr;
    column-gap: 40px;
    margin-bottom: 50px;
}

main h2{
    font-size: 18px;
    margin-top: 20px;
    margin-bottom: 20px;
}

.form-container{
    margin-bottom: 50px;
}

.form-group{
    position: relative;
    margin-bottom: 20px;
}

.form-group label{
    display: block;
    font-size: 12px;
    margin-bottom: 5px;
}

.form-group input, .form-group select{
    width: 90%;
    padding: 15px 10px 15px 40px;
    border-radius: 6px;
    outline: none;
    font-family: 'Montserrat';
    font-size: 16px;
    border: 1px solid #aaa;
}

.form-group-column{
    position: relative;
}

.form-group-column select, .form-group-column input{
    width: 100%;
}

input{
    transition: 0.3s;
}

input:focus {
    border: 1px solid dodgerblue;
    box-shadow: 0px 0px 4px dodgerblue;
}

input:focus + .material-icons {
    color: dodgerblue;
}

.form-group .material-icons {
    position: absolute;
    top: 33px;
    left: 10px;
    color: #828282;
    transition: 0.3s;
}

.form-grid{
    display: grid;
    grid-template-columns: 1fr 1fr;
    column-gap: 40px;
    width: 90%;
}

input[type=checkbox]{
    margin-right: 10px;
}

.btn-container{
    display: flex;
    width: 95%;
}

.btn-submit{
    background: #F2994A;
    color: white;
    border: 0px;
    padding: 15px 30px;
    border-radius: 10px;
    width: 145px;
    font-size: 16px;
    margin-left: auto;
    text-align: center;
    outline: none;
    font-family: 'Montserrat';
}

.remember-me {
    display: flex;
    align-items: center;
}

.items{
    padding: 30px;
    background: #F2F2F2;
    height: fit-content;
    border-radius: 20px;
}

.checkout-item {
    display: grid;
    grid-template-columns: 3fr 4fr;
    column-gap: 20px;
    margin-bottom: 40px;
}

.checkout-item img{
    width: 100%;
    border-radius: 20px;
}

.checkout-details{
    display: flex;
    justify-content: flex-start;
    flex-direction: column;
}

.item-name {
    font-size: 16px;
    margin-bottom: 10px;
}

.price {
    display: flex;
    margin-bottom: 10px;
}

.discount-price{
    color: #F2994A;
    font-size: 16px;
    margin-right: 30px;
}

.normal-price {
    text-decoration: line-through;
    font-size: 12px;
}

.quantity {
    position: relative;
    width: 60%;
    height: 100%;
    display: flex;
    align-items: flex-end;
}

.quantity input{
    padding: 15px 0px;
    padding-left: 50px;
    width: 100%;
    box-sizing: border-box;
}

.quantity .minus-plus {
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    border: 1px solid #828282;
    padding: 10px 20px;
    border-radius: 10px;
}

.quantity .minus {
    background: #E0E0E0;
    padding: 5px;
}

.quantity .plus {
    background: #E0E0E0;
    padding: 5px;
}

.checkout-final {
    display: flex;
    justify-content: space-between;
    padding-top: 15px;
    margin-bottom: 15px;
    border-top: 1px solid #BDBDBD;
}

footer{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 10vh;
}

@media (max-width: 1680px) {
    .btn-container {
        width: 96%;
    }
}

@media (max-width: 1440px) {
    .quantity {
        width: 80%;
    }

    .item-name {
        font-size: 14px;
    }
    .btn-container {
        width: 97%;
    }
}

@media (max-width: 1280px) {
    .quantity {
        width: 100%;
    }
    .btn-container {
        width: 98%;
    }
}

@media (max-width: 480px) {
    body{
        width: 90%;
    }
    main {
        grid-template-columns: 1fr;
    }
    .items{
        grid-row: 1;
    }
    .form-group input, .form-group select {
        width: 85%;
        font-size: 12px;
    }
    .form-grid {
        column-gap: 20px;
        width: 99%;
    }
    .form-group-column select, .form-group-column input{
        width: 100%;
        box-sizing: border-box;
    }
    .remember-me{
        font-size: 10px;
    }
}